.projects-container {
    display: flex;
    color: white;
    font-weight: 600;
    margin-top: 5rem;
}


.project-name {
    width: 25%;
    display: inline;
}

.project-description {
    width: 50%;
    display: inline;
}

.project-link {
    width: 25%;
    display: inline;
}

.website-links {
    margin-top: 0.6rem;
    color: white;
    display: block;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.website-links:hover {
    color: blue;
}

p {
    color: white;
}